* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3E1FF;
    font-family: "SF UI Text", "Roboto", sans-serif;
    margin: 0%;
}

.color-acento {
    color: blueviolet;
    text-shadow: -1px 0 white, 0 1px white,
        1px 0 white, 0 -1px white;
}

/* Aplicable para pantallas pequeñas */
@media (max-width: 850px) {
    .container {
        margin: auto;
    }

    /* Barra de navegacion */
    header {
        color: darkblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(225deg,
                rgba(255, 255, 255, 0.95),
                rgba(236, 217, 255, 0.89)), url("media/Home.jpg");
        /* borde de la cabecera */
        box-shadow: 0px 0px 50px -25px #3E0054;
        border-radius: 0px 0px 10px 10px;
    }

    /* titulo */
    header .titulo h1 {
        align-items: center;
        margin-bottom: 0px;
        font-weight: 900;
        font-size: xx-large;
        color: blueviolet;
        padding-left: 20px;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    header .titulo p {
        visibility: hidden;
    }

    header nav a {
        text-decoration: none;
        color: darkblue;

        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5px;
    }

    header nav a:hover {
        color: blueviolet;
        font-weight: bolder;
    }

    /* Fin barra de navegacion */

    /* Inicio */
    #Inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: center;
        height: 100vh;

        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.98),
                rgba(255, 255, 255, 0.90)), url("media/Inicio.jpg");
        /* No repetir la imagen */
        background-repeat: no-repeat;
        /* Para que ocupe todo el espacio disponible, sin bordes negros */
        background-size: cover;
        /* Para que centre la imagen */
        background-position: center center;
    }

    #Inicio h1 {
        color: blueviolet;
        font-size: 3.5em;
        margin: 0%;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Inicio p {
        color: darkblue;
        font-size: 1.5em;
        margin-top: 0px;
        font-style: italic;
        font-weight: lighter;
    }

    /* Fin inicio */

    /* Sobre nosotros */
    #Sobre-nosotros {
        color: darkblue;
        height: 100vh;

        display: flex;
        align-items: center;
        text-align: center;

        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.90),
                rgba(243, 225, 255, 0.98)), url("media/sobreNosotros.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: 0px dotted white;
        box-shadow: 0px 0px 200px -5px whitesmoke;
    }

    #Sobre-nosotros .img-container {
        background-image: url("media/logo.png");
        background-size: cover;
        margin: 30px auto;

        height: 300px;
        width: 300px;

        border: 0px dotted white;
        border-radius: 100%;
        box-shadow: 0px 0px 200px -50px blueviolet;
    }

    #Sobre-nosotros h2 {
        font-size: 2em;
    }

    #Sobre-nosotros p {
        font-size: 1em;
        font-style: italic;
        font-weight: lighter;
    }

    /* Fin sobre nosotros */

    /* Opciones gráficos estadísticos */
    #Graficos-estadisticos {

        /* color: white; */
        /* border: 1px dashed; */
        /* height: 100vh; */
        display: flex;
        text-align: center;
        background: linear-gradient(0deg,
                rgb(239, 215, 255),
                rgb(251, 244, 255));
    }

    #Graficos-estadisticos .container {
        text-align: center;
        /* padding: 150px 12px; */
        padding: 0px;
    }

    #Graficos-estadisticos h1 {
        color: blueviolet;
        font-size: 2em;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Graficos-estadisticos p {
        margin: 5px;
        padding-bottom: 10px;

    }

    #Graficos-estadisticos .columna {
        background-position: center center;
        background-size: cover;
        padding: 15px 15px;
        margin: 20px;
        border-radius: 20px;
        color: black;

        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.599),
                rgb(255, 255, 255)), url("media/Home.jpg");
    }

    #Graficos-estadisticos button {
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.624),
                rgb(255, 255, 255)), url("media/Home.jpg");
        font-size: 1.5em;

        /* distancia entre texto y borde del boton */
        padding: 10px 30px;
        /* bordes redondeados */
        border-radius: 20px;
        /* borde del boton */
        border: 3px solid rgb(255, 255, 255);
        /* sombra del boton */
        box-shadow: 2px 2px 10px rgba(139, 15, 255, 0.279);
        color: blueviolet;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Graficos-estadisticos button:hover {
        background-image: linear-gradient(0deg,
                rgba(97, 0, 162, 0.287),
                rgba(211, 145, 255, 0.394)), url("media/Home.jpg");
        color: white;
        font-style: italic;
        text-shadow: -1px 0 blueviolet, 0 1px blueviolet,
            1px 0 blueviolet, 0 -1px blueviolet;
    }

    /* Fin opciones gráficos estadísticos */

    /* Sección de vídeo */
    /* Se habilita el vídeo formato pequeño */
    #VideoPequenno {
        display: block;
        padding: 70px;
        text-align: center;
        min-height: 50vh;
    }

    #VideoPequenno video {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /* Se deshabilita el vídeo formato grande */
    #Video,
    #tituloVideoGrande {
        display: none;
    }

    /* Fin seccion de vídeo */

    /* Llamada a la acción */
    #Empezar button {
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.624),
                rgb(255, 255, 255)), url("media/Home.jpg");

        font-size: 1.5em;
        margin-bottom: 15px;
        /* distancia entre texto y borde del boton */
        padding: 10px 30px;

        /* bordes redondeados */
        border-radius: 10px;
        /* borde del boton */
        border: 3px solid rgb(255, 255, 255);
        /* sombra del boton */
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
        color: blueviolet;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;

    }

    #Empezar button:hover {
        background-image: linear-gradient(45deg,
                rgba(153, 0, 255, 0.7),
                rgba(87, 0, 193, 0.249)), url("media/Home.jpg");
        color: white;

        border: 3px solid rgb(177, 50, 255);
        font-style: italic;
        text-shadow: -1px 0 blueviolet, 0 1px blueviolet,
            1px 0 blueviolet, 0 -1px blueviolet;

    }

    #Empezar {
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        /* background-color: darkorchid; */
        background-image: linear-gradient(0deg,
                rgba(234, 219, 255, 0.882),
                rgba(44, 0, 97, 0.759)), url("media/Home.jpg");

        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #Empezar h1 {
        font-size: 4em;
        margin-bottom: 3%;
        text-shadow: -1px 0 black, 0 1px black,
            1px 0 black, 0 -1px black;
    }

    #Empezar p {
        font-size: 1.25em;

        font-style: italic;
        font-weight: lighter;

        margin-top: 0%;
    }

    /* Fin empezar */

    footer {
        font-size: large;
        color: darkblue;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 850px) {
    .container {
        /* cuando sobrepasa los 1400 no se agranda mas */
        max-width: 1400px;
        /* pone margenes automaticos */
        margin: auto;
    }

    body {
        min-width: 100vh;
    }

    /* Barra de navegacion */
    header {
        color: darkblue;
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(225deg,
                rgba(255, 255, 255, 0.95),
                rgba(236, 217, 255, 0.89)), url("media/Home.jpg");
        /* borde de la cabecera */
        box-shadow: 0px 0px 50px -25px #3E0054;
        border-radius: 0px 0px 10px 10px;
        /* Mantener la cabecera cuando se scrolee */
        position: fixed;
        width: 100%;
    }

    header .container {
        display: flex;

        justify-content: space-between;

        align-items: center;

    }

    /* titulo */
    header .titulo h1 {
        margin-bottom: 0px;
        font-weight: 900;
        font-size: xx-large;
        color: blueviolet;
        padding-left: 20px;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    header .titulo p {
        margin-top: 0px;
        text-align: center;

        font-weight: bolder;
        font-style: normal;
        padding-left: 20px;
    }

    header .titulo p:hover {
        font-style: italic;
    }

    header nav a {
        text-decoration: none;
        color: darkblue;
    }

    header nav {
        display: flex;
        flex-direction: column;
        text-align: right;

        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    header nav a:hover {
        color: blueviolet;
        font-weight: bolder;
    }

    /* Fin barra de navegacion */

    /* Inicio */
    #Inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: center;
        height: 100vh;

        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.98),
                rgba(255, 255, 255, 0.90)), url("media/Inicio.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #Inicio h1 {
        color: blueviolet;
        font-size: 4em;
        margin: 0%;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Inicio p {
        color: darkblue;
        font-size: 1.5em;
        margin-top: 0px;
        font-style: italic;
        font-weight: lighter;
    }

    /* Fin inicio */

    /* Sobre nosotros */
    #Sobre-nosotros {
        color: darkblue;
        height: 100vh;

        display: flex;
        align-items: center;
        text-align: center;

        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.854),
                rgba(243, 225, 255, 0.999)), url("media/sobreNosotros.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: 0px dotted white;
        box-shadow: 0px 0px 200px -5px whitesmoke;
    }

    #Sobre-nosotros .img-container {
        background-image: url("media/logo.png");
        background-size: cover;
        margin: 50px auto;

        height: 300px;
        width: 300px;

        border: 0px dotted white;
        border-radius: 100%;
        box-shadow: 0px 0px 200px -50px blueviolet;
    }

    #Sobre-nosotros h2 {
        font-size: 3em;
    }

    #Sobre-nosotros p {
        font-size: 1.25em;
        font-style: italic;
        font-weight: lighter;
    }

    /* Fin sobre nosotros */

    /* Opciones gráficos estadísticos */
    #Graficos-estadisticos {
        height: 110vh;
        display: flex;
        text-align: center;
        background: linear-gradient(0deg,
                rgb(239, 215, 255),
                rgb(251, 244, 255));
        padding-bottom: 300px;

    }

    #Graficos-estadisticos .container {
        text-align: center;
        padding: 0px;

        min-width: 75vw;
    }

    #Graficos-estadisticos h1 {
        color: blueviolet;
        font-size: 2.5em;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Graficos-estadisticos h2 {
        color: blueviolet;
        font-size: 1.5em;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Graficos-estadisticos p {
        font-size: 1em;

        font-style: italic;
        font-weight: lighter;
        color: darkblue;
    }

    #Graficos-estadisticos .contenido {
        display: inline-flex;
        justify-content: space-evenly;

        padding: 20px 20px;
        border-radius: 15px;
        border: 1px solid #ffffff;

        box-shadow: 0px 0px 30px 0px rgba(205, 205, 205, 0.854);
        background-image: linear-gradient(0deg,
                rgba(226, 183, 255, 0.224),
                rgba(250, 239, 255, 0.94)), url("media/Home.jpg");
    }

    #Graficos-estadisticos .columna {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px;
        margin: 50px;
        border-radius: 15px;
        border: 4px solid #f8deff;

        box-shadow: 0px 0px 50px 5px rgba(137, 137, 137, 0.698);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.885),
                rgba(249, 241, 255, 0.531));
    }

    #Graficos-estadisticos button {
        margin-top: 20px;
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.624),
                rgb(255, 255, 255)), url("media/Home.jpg");
        font-size: 1.8em;

        /* distancia entre texto y borde del boton */
        padding: 10px 30px;
        /* bordes redondeados */
        border-radius: 15px;
        /* borde del boton */
        border: 3px solid rgb(255, 255, 255);
        /* sombra del boton */
        box-shadow: 2px 2px 10px rgba(139, 15, 255, 0.279);
        color: blueviolet;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;
    }

    #Graficos-estadisticos button:hover {
        background-image: linear-gradient(0deg,
                rgba(97, 0, 162, 0.287),
                rgba(211, 145, 255, 0.394)), url("media/Home.jpg");
        color: white;
        font-style: italic;
        text-shadow: -1px 0 blueviolet, 0 1px blueviolet,
            1px 0 blueviolet, 0 -1px blueviolet;
    }

    /* Fin opciones gráficos estadísticos */


    #tituloVideoPequenno {
        display: none;
    }

    .reproductor-predeterminado:not(:fullscreen) {
        display: none;
    }


    /* Seccion de vídeo */
    #seccionVideo {
        display: block;
        min-height: 100vh;
        background-image: linear-gradient(0deg,
                rgba(77, 0, 129, 0.726),
                rgba(243, 225, 255, 0.282)), url("media/fondoVideo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #seccionVideo h1 {
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 3em;
        font-weight: bolder;
        margin: 0px;
        padding-top: 115px;
        padding-bottom: 20px;
    }

    #Video {
        display: block;
        width: 1294px;
        margin: auto;
        background: rgba(78, 0, 129, 1);
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 50px 0px #4F4F4F;
    }

    #Video nav {
        margin: 1px 0px;
        display: flex;
        align-items: center;
    }

    .botones {
        display: flex;
        align-items: center;
        margin-right: 1px;
    }

    .botones button:hover {
        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.9),
                rgba(243, 225, 255, 0.7)), url("media/Home.jpg");
    }

    .barra {
        background: white;
        width: 1218.61px;
        height: 24px;
        border: 1px solid grey;
        margin-left: 1px;
    }

    .progreso {
        max-width: 1215px;
        margin: 1px;
        width: 0px;
        height: 20px;
        background-image: linear-gradient(0deg,
                rgba(243, 225, 255, 0.2),
                rgba(243, 225, 255, 0.7)), url("media/Home.jpg");
    }

    /* Fin seccion de vídeo */

    /* Llamada a la acción */
    #Empezar button {
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.624),
                rgb(255, 255, 255)), url("media/Home.jpg");

        font-size: 3em;
        margin-bottom: 15px;
        /* distancia entre texto y borde del boton */
        padding: 10px 30px;

        /* bordes redondeados */
        border-radius: 10px;
        /* borde del boton */
        border: 3px solid rgb(255, 255, 255);
        /* sombra del boton */
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
        color: blueviolet;
        text-shadow: -1px 0 white, 0 1px white,
            1px 0 white, 0 -1px white;

    }

    #Empezar button:hover {
        background-image: linear-gradient(45deg,
                rgba(153, 0, 255, 0.7),
                rgba(87, 0, 193, 0.249)), url("media/Home.jpg");
        color: white;

        border: 3px solid rgb(177, 50, 255);
        font-style: italic;
        text-shadow: -1px 0 blueviolet, 0 1px blueviolet,
            1px 0 blueviolet, 0 -1px blueviolet;

    }

    #Empezar {
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        /* background-color: darkorchid; */
        background-image: linear-gradient(0deg,
                rgba(234, 219, 255, 0.882),
                rgba(44, 0, 97, 0.759)), url("media/Home.jpg");

        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #Empezar h1 {
        font-size: 4em;
        margin-bottom: 3%;
        text-shadow: -1px 0 black, 0 1px black,
            1px 0 black, 0 -1px black;
    }

    #Empezar p {
        font-size: 1.25em;

        font-style: italic;
        font-weight: lighter;

        margin-top: 0%;
    }

    footer {
        font-size: large;
        color: darkblue;
        display: flex;
        justify-content: space-evenly;
    }
}